# Python cheatsheet

## Pandas Dataframe Boolean indexing

In [1]:
import pandas as pd

In [5]:
df1=pd.DataFrame({'col1': [10, 20, 30, 4, 30, 2], 'col2': [True, True, True, False, True, False]})
df1

   col1   col2
0    10   True
1    20   True
2    30   True
3     4  False
4    30   True
5     2  False

In [7]:
df2=pd.DataFrame({'col1': [1.5, 1.7, 1.6, 2.5, 2.4, 1.4]})
df2

   col1
0   1.5
1   1.7
2   1.6
3   2.5
4   2.4
5   1.4

queremos seleccionar del df2 las filas que son True en el df1, tenemos 2 opciones

In [9]:
df2[df1.col2]

   col1
0   1.5
1   1.7
2   1.6
4   2.4

In [10]:
df2.iloc[df1.col2.values]

   col1
0   1.5
1   1.7
2   1.6
4   2.4

## Carga de json

In [ ]:
datos=open(r'C:\Users\Alejandro\_Personal\proyectos\Timing\F2\Capturas\Austria 10.7.2020\R2\_webSocketMessages.json')

datos=json.load(datos) #crea un diccionario, o lista de diccionarios

df1 = pd.DataFrame(datos) #crea un DataFrame de diccionarios

df2=pd.json_normalize(datos['_webSocketMessages']) #crea un DataFrame de DataFrames